---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import appIcon from '../images/app-icon.png';
import { IconBrandAndroid, IconDownload } from '@tabler/icons-react';

const appDownloadUrl =
  'https://firebasestorage.googleapis.com/v0/b/holidrive-2da97.appspot.com/o/holidrive.apk?alt=media&token=c6709e06-9b0e-4a7a-b453-7fe269efd8b7&_gl=1*1rniv91*_ga*NDczMzAwNDkwLjE2OTQwMzQyMjY.*_ga_CW55HF8NVT*MTY5NzA1MzU4NS43NS4xLjE2OTcwNTM2ODUuNjAuMC4w';
---

<Layout title='Holidrive'>
  <div class='flex flex-col items-center mt-10 px-20 gap-8'>
    <span class='text-[#FC6904] text-xl text-center font-poppins lg:text-3xl'>
      ¡Descarga Holidrive y se parte de la comunidad!
    </span>
    <Image
      src={appIcon}
      alt='Holidrive app'
      class='h-24 object-contain lg:h-36 lg:my-8'
    />
    <div class='flex flex-col items-center gap-3'>
      <span class='text-[#FC6904] text-xs font-poppins text-center lg:text-lg'
        >Última versión: v1.0.2, Oct 10, 2023</span
      >
      <a
        href={appDownloadUrl}
        target='_blank'
        rel='noopener noreferrer'
        class='no-underline text-[#FC6904] font-poppins text-xl border-2 rounded-[2rem] border-[#FC6904] px-6 py-3 flex flex-nowrap gap-2 hover:bg-[#FC6904] focus-within:bg-[#FC6904] hover:text-[#FBF3EB] focus-within:text-[#FBF3EB] transition duration-200 group relative overflow-hidden'
      >
        <span>Descargar</span>
        <IconDownload
          className='inline-block group-hover:-translate-y-10 group-focus-within:-translate-y-10 transition text-[#FC6904]'
        />
        <IconBrandAndroid
          className='absolute right-6 top-14 inline-block group-hover:-translate-y-[2.6rem] group-focus-within:-translate-y-[2.6rem] transition text-[#FBF3EB]'
        />
      </a>
    </div>
  </div>
</Layout>
